.header {
  background: mediumpurple;
  padding: 20px 0;
}

.link {
  margin-right: 10px;
  font-weight: bold;
  font-size: 13px;
  text-decoration: unset;
  color: white;
}

.link:hover {
  color: #3e51b5;
}
